<%- include('header') -%>

<div class="d-flex flex-column mb-3 container">
    <div class="card">
        <strong>post text</strong>
        <p>author - timestamp</p>
    </div>
    <div class="card">
        <strong>post text</strong>
        <p>author - timestamp</p>
    </div>
    <div class="card">
        <strong>post text</strong>
        <p>author - timestamp</p>
    </div>

    <div class="card">
        <strong>post text</strong>
        <p>author - timestamp</p>
    </div>
    <div class="card">
        <strong>post text</strong>
        <p>author - timestamp</p>
    </div>
</div>


<%- include('footer') -%>