<%- include('header') -%>

<h1 class="h1">Please Log In</h1>
<form action="" method="POST">
  <div class="form-floating mb-3">
    <input name="username" type="text" class="form-control" placeholder="username"/>
    <label for="username">Username</label>
  </div>
  <div class="form-floating">
    <input name="password" type="password" class="form-control" placeholder="password"/>
    <label for="password" >Password</label>
  </div>
  <hr>
  <button class="btn btn-primary">Log In</button>
</form>

<%- include('footer') -%>