<%- include('header') -%>

<h1><%= title %>:</h1>
<form action="" method="POST">
    <div class="mb-3">
        <label for="textarea" class="form-label"></label>
        <textarea class="form-control" id="textarea" rows="3" value=(undefined===<% locals.text %> ? '' : <% locals.text %>)></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary mb-3">POST</button>
</form>

<% if (locals.errors) {%>
  <ul>
  <% for (error in errors) {%>
    <li><%= errors[error].msg %></li>
  <%}%>
  </ul>
<%}%>  
    

<%- include('footer') -%>